@{
    Layout = "Shared/_Layout.cshtml";
}
<h2>Welcome to The Band Tracker</h2>

<form action="/" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" name="button" class="btn">Clear App Database</button>
</form>
