@{
    Layout = "Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-image">
                <img src="~/Content/images/example.jpg">
                <span class="card-title">@Model.GetName()</span>
            </div>
            <div class="card-content">
                <p>Description of Venue</p>
                </div>
                <div class="card-action">
                    <a href="#">Venue Home Page</a>
                </div>
            </div>
        </div>
        <div class="col s6">
            <ul class="collapsible" data-collapsible="accordion">
                @foreach(var band in Model.GetBands())
                {
                    <li>
                        <div class="collapsible-header">@band.GetName()</div>
                        <div class="collapsible-body">
                            <form action="/venues/@Model.GetId()" method="post">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="band-id" value="@band.GetId()">
                                <button type="submit" name="button" class="btn">Remove From Venue</button>
                            </form>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div><br>
<div class="row">
    <form class="col s6" action="/venues/@Model.GetId()" method="post">
        <div class="input-field">
            <input type="text" name="band-name" placeholder="Band Name">
            <label for="band-name">Name of Band</label>
        </div>
        <button type="submit" name="button" class="waves-effect waves-light btn">Add Band</button>
    </form>
    <form class="col s4" action="/venues/@Model.GetId()" method="post">

    </form>
</div>
