@{
    Layout = "Shared/_Layout.cshtml";
}

<ul class="collapsible popout" data-collapsible="accordion">
    @foreach(var venue in Model)
    {
        <li>
            <div class="collapsible-header"><i class="material-icons">store</i>@venue.GetName()</div>
            <div class="collapsible-body">
                <ul class="collection">
                    @foreach(var band in @venue.GetBands())
                    {
                        <li class="collection-item"><i class="material-icons">assignment_id</i>@band.GetName()</li>
                    }
                </ul><br>
                <a name="button" class="btn" href="/venues/@venue.GetId()">View Info</a>
            </div>
        </li>
    }
</ul><br><br>

 <form class="col s12" action="/venues" method="post">
     <div class="input-field">
         <input type="text" name="venue-name" placeholder="Venue Name">
         <label for="venue-name">Name of Venue</label>
     </div>
     <button type="submit" name="button">Add Venue</button>
 </form>
